.p-card-title{
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  padding-top: 1rem;
}

.custom-star-icon{
  font-size: 1.5rem;
  margin-right:1rem
}

::ng-deep .p-dropdown{
  width:100%;
}
.marginRightedButton{
  margin-right:10px
}


.customLabel{
  margin-left: 0.2rem
}


.custom-icon-true{
  font-size: 1.5rem;
  color: green;
}

.custom-icon-false{
  font-size: 1.5rem;
  color: red;
}


.labelInfoForm{
  font-size: 0.8rem;
}

.requiredTag {
  margin-left: 15px;


}

input{
  width: 100%;
}
